<form action="/signup" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" id="login-username" placeholder="guest">
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="login-name" placeholder="Gus Guesterson Jr.">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="login-password" placeholder="**********">
  </div>

  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
